/.github @andylin-hao
/docker @andylin-hao
/docs @andylin-hao

/examples/embodiment @guozhen1997 @andylin-hao
/examples/reasoning @guozhen1997 @andylin-hao @Lin-xs

/ray_utils @Lin-xs @andylin-hao
/requirements @andylin-hao

/rlinf/algorithms @guozhen1997

/rlinf/data @guozhen1997 @Lin-xs @andylin-hao

/rlinf/envs @guozhen1997 @andylin-hao

/rlinf/hybrid_engines/fsdp @guozhen1997
/rlinf/hybrid_engines/megatron @guozhen1997
/rlinf/hybrid_engines/sglang @Lin-xs @andylin-hao
/rlinf/hybrid_engines/vllm @Lin-xs @andylin-hao

/rlinf/models @guozhen1997

/rlinf/robotics @andylin-hao

/rlinf/runners @guozhen1997 @andylin-hao

/rlinf/scheduler @andylin-hao

/rlinf/utils @guozhen1997 @Lin-xs @andylin-hao

/rlinf/workers/actor @guozhen1997 @andylin-hao
/rlinf/workers/env @guozhen1997 @andylin-hao
/rlinf/workers/inference @andylin-hao
/rlinf/workers/rollout/hf @guozhen1997 @andylin-hao
/rlinf/workers/rollout/sglang @Lin-xs @andylin-hao
/rlinf/workers/rollout/vllm @Lin-xs @andylin-hao
/rlinf/workers/rollout/utils.py @Lin-xs @andylin-hao
/rlinf/config.py @guozhen1997 @andylin-hao @Lin-xs

/tests @andylin-hao
/toolkits/auto_placement @Lin-xs
/rlinf/utils/ckpt_convertor @qurakchin @guozhen1997
/toolkits/realworld_check @andylin-hao

/.cursor @andylin-hao
/.pre-commit-config.yaml @andylin-hao
/pyproject.toml @andylin-hao