__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
logs_baseline/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/sim/maniskill/assets
PKG-INFO
*.egg-info/
.claude/settings.json